@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

:root {
    --primary-color: #eb5757;
    --secondary-color: #f2c94c;
    --third-color: #bb6bd9;
    --btn-color: #9b51e0;
    --primary-font: "Courier Prime", monospace;
    --secondary-font: Inria;
    --third-font: Georama, sans-serif;
}

html {
    overflow-x: initial !important;
}

.pc {
    color: var(--primary-color);
}

.sc {
    color: var(--secondary-color);
}

.tc {
    color: var(--third-color);
}

.line {
    width: 100wh;
    border: 2px solid rgba(155, 81, 224, 0.18);
}

.section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

/* For all sizes */
.navigation {
    font-weight: 700;
    font-weight: 700;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.con {
    font-family: var(--primary-font);
    font-style: normal;
    color: white;
    font-size: 24px;
    padding-top: 20px;
    background: radial-gradient(
            92.26% 92.26% at 49.27% 7.74%,
            #1a1321 0%,
            #371266 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.main-title {
    font-style: normal;
    font-weight: 700;
}

.first-line {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
}

.portfolio-img {
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

.parag {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #c7baba;
    font-size: 24px;
}

.aboutmeparagraph {
    font-family: var(--secondary-font);
    font-family: var(--third-font);
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
    .navigation {
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
    }
    .con {
        font-size: 26px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .main-title {
        font-size: 36px;
        line-height: 50px;
    }

    .first-line {
        font-size: 60px;
        line-height: 42px;
    }
    .parag {
        font-size: 24px;
        line-height: 20px;
        padding-top: 25px;
    }

    .aboutmeparagraph {
        font-size: 20px;
    }

    .portfolio-img {
        width: 300px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 767.98px) {
    .content {
        padding-top: 10px;
    }
    .navigation {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
    }
    .con {
        font-size: 24px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-title {
        font-size: 34px;
        line-height: 25px;
    }

    .first-line {
        font-size: 60px;
        line-height: 72px;
    }
    .parag {
        font-size: 24px;
        line-height: 20px;
        padding-top: 25px;
    }

    .aboutmeparagraph {
        font-size: 22px;
    }
    .portfolio-img {
        width: 350px;
        height: 350px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 1030.98px) {
    .content {
        padding-top: 40px;
    }
    .navigation {
        font-weight: 700;
        font-size: 26px;
        line-height: 44px;
    }
    .con {
        font-size: 28px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-title {
        font-size: 38px;
        line-height: 32px;
    }

    .first-line {
        font-size: 58px;
        line-height: 72px;
    }

    .parag {
        font-size: 24px;
        line-height: 20px;
        padding-top: 25px;
    }
    .aboutmeparagraph {
        font-size: 24px;
    }

    .portfolio-img {
        width: 450px;
        height: 450px;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    .content {
        padding-top: 40px;
    }
    .navigation {
        font-weight: 700;
        font-size: 26px;
        line-height: 44px;
    }
    .con {
        font-size: 28px;
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .main-title {
        font-size: 38px;
        line-height: 32px;
    }

    .first-line {
        font-size: 60px;
        line-height: 52px;
    }

    .img-container {
        width: 65%;
    }
    .parag {
        font-size: 24px;
        line-height: 20px;
        padding-top: 25px;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1699.98px) {
    .content {
        padding-top: 50px;
    }
    .navigation {
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
    }
    .con {
        font-size: 32px;
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .main-title {
        font-size: 42px;
        line-height: 36px;
    }

    .first-line {
        font-size: 62px;
        line-height: 72px;
    }

    .img-container {
        width: 80%;
    }

    .parag {
        font-size: 26px;
        line-height: 40px;
        padding-top: 25px;
    }
}

.btn-perso {
    border: 3px solid var(--btn-color);
    border-radius: 5px;
    padding: 10px 40px;
    text-decoration: none;
    color: var(--btn-color);
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.btn-perso:hover {
    background: var(--btn-color);
    color: #c7baba;
}

/* About me */
/*All sizes */
.portfolio-img {
    background: url(./assets/portfolio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    mix-blend-mode: lighten;
}

/* Skills */

/* All sizes */

.skill-img > img {
    background-repeat: no-repeat;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

@media (min-width: 1300px) {
    .skill-img > img {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .skill-img > img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
}

/* Projects */

.project-image {
    border-radius: 30px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-info {
    background: linear-gradient(
        180deg,
        rgba(4, 0, 10, 0.61) -46.8%,
        rgba(27, 0, 52, 0.61) 81.53%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;
    font-size: 22px;
    text-align: justify;
}

@media (min-width: 1300px) {
    .project-image {
        margin-left: 40px;
    }
    .project-info {
        height: 75%;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        right: 40px;
    }
}

/* Contact */
